# Configurações de Origem (SQL Server)
DB_SOURCE_DRIVER={ODBC Driver 17 for SQL Server}
DB_SOURCE_HOST=seu_servidor_ip
DB_SOURCE_NAME=nome_do_banco
DB_SOURCE_USER=seu_usuario
DB_SOURCE_PASS=sua_senha

# Configurações de Destino (PostgreSQL)
DB_TARGET_HOST=seu_host_postgresql
DB_TARGET_NAME=nome_do_banco
DB_TARGET_USER=seu_usuario
DB_TARGET_PASS=sua_senha
DB_TARGET_PORT=5432
